<!DOCTYPE html>
<html lang="en">
<head> 
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://unpkg.com/vue"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <title>Document</title>
</head>
<body>
      <div id="main">
        <div class="container mt-5">
        <div class="row">
          <div class="col-md-12 col-sm-12 col-lg-6 mt-3">
            <div class="alert alert-danger text-center" v-if="error">
             {{errorHandler}}
            </div>
            <form>
              <div class="mb-3">
                <label for="name" class="form-label">Your name</label>
                <input type="email" class="form-control" id="name" aria-describedby="emailHelp" v-model="name">
                
              </div>
              <div class="mb-3">
                <label for="email" class="form-label">Email address</label>
                <input type="email" class="form-control" id="email" aria-describedby="emailHelp" v-model="email">
                <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
              </div>
              <div class="mb-3">
                <label for="job" class="form-label">Your Job</label>
                <input type="text" class="form-control" id="job" v-model="job">
              </div>
              <button type="button" class="btn btn-primary" @click="addUser">Add User</button>
            </form>
          </div>
          <div class="col-md-12 col-sm-12 col-lg-6 mt-3 ">
            <table class="table">
              <thead>
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">Name</th>
                  <th scope="col">Email address</th>
                  <th scope="col"> Job</th>
                  <th scope="col">Update</th>
                  <th scope="col">Delete</th>

                </tr>
              </thead>
              <tbody>
                <tr v-for="user in users">
                  <th scope="row">{{user.id}}</th>
                  <td>{{user.name}}</td>
                  <td>{{user.email}}</td>
                  <td>{{user.job}}</td>
                   <td> <button class="btn btn-primary" @click="updateUser(user.id)">Update</button></td>
                   <td> <button class="btn btn-danger" @click="deleteUser(user.id)">Delete</button></td>
                </tr>
                
              </tbody>
            </table>
          </div>
        </div>
        </div>
       
      </div>
  

<script src="./main.js"></script>
</body>
</html>